@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap');

:root {
    --corA: #1E4585;
    --corB: #5982B0;
    --corC: #B8CADE;
    --corD: #D8E4E2;
    --corE: #B2B8BB;
    --corF: #5274ac;
}

body {
    background-color: var(--corE);
}

#container {
    background: linear-gradient(0deg, var(--corC) 0%, var(--corD)100%);
    box-shadow: 5px 5px 10px rgba(30, 70, 133, 0.2);
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#foto {
    border-radius: 50%;
    border: 3px solid var(--corD);
    box-shadow: 10px 10px 10px rgba(30, 70, 133, 0.2);
    width: 15%;
    margin: 3% 3% 1.5% 3%;
    transition: 1s;
}

#foto:hover {
    width: 17%;

    box-shadow: 0px 0px 20px rgba(30, 70, 133, 0.5);
}

#nome {
    width: 30%;
    margin: 1.5% 3% 3% 3%;
}

section {
    display: flex;
    padding: 0% 10% 2% 10%;
    flex-wrap: wrap;
    justify-content: space-around;
}


a.btn {
    display: flex;
    appearance: button;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    padding: 1.5%;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 130%;
    text-transform: uppercase;
    color: var(--corB);

    box-shadow: 5px 5px 10px rgba(30, 70, 133, 0.2);
    background-color: var(--corD);
    width: 40%;
    margin: 10px;



    transition: .7s;
}

i {
    font-size: 130%;
    color: var(--corB);
    padding-left: 20px;
    transition: .7s;
}

a.btn:hover {
    background-color: var(--corB);

    color: var(--corD);
}

.btn:hover i {
    color: var(--corD);
}

a.halfA {
    width: 18%;
    margin-right: -3%;
}

a.halfB {
    width: 18%;
    margin-left: -1%;
}

h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 2%;
    color: white;
}



@media screen and (max-width:850px) {

    #foto {
        border-radius: 50%;
        border: 2px solid var(--corD);
        box-shadow: 3px 3px 10px rgba(30, 70, 133, 0.2);
        width: 15%;
        margin: 3% 3% 1.5% 3%;
        transition: 1s;
    }
    
    #foto:hover {
        width: 30%;
    
        box-shadow: 0px 0px 20px rgba(30, 70, 133, 0.5);
    }

    section {
        display: flex;
        padding: 0% 1% 2% 1%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    a.btn {
        padding: 3%;
        width: 60%;
        margin: 6px;

        font-size: 100%;
    }
}